body {
  margin: 0;
  min-height: 100vh;
  background-color: #22b6f0;
  background: linear-gradient(to bottom, #5b6cb2, #22b6f0);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.nav-container {
  position: absolute;
  top: 20px;
  right: 30px;
}

.nav-pill {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px white;
  backdrop-filter: blur(8px);
  border-radius: 999px;
}

.nav-pill a {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
}

.nav-pill a:hover {
  text-decoration: underline;
}

.app-icon {
  width: 120px;
  height: 120px;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.download-btn {
  background: rgba(255, 255, 255, 0.3);
  border: solid 1px white;
  padding: 0.75rem 2.5rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  font-weight: 600;
  color: white;
  transition: transform 0.2s ease;
}

.download-btn:hover {
  transform: scale(1.05);
}

.navbar-collapse {
  background-color: transparent !important;
  backdrop-filter: none !important;
}


.navbar-nav .nav-link {
  margin: 0 0.5rem;
}
.about-section {
  margin-top: 2%;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}
.about-section .card {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 2rem;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.about-section .card:hover {
  transform: translateY(-5px);
}


.intro-section{
      margin-top: 15%;

}

.privacy-section {
  margin-top: 3%;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}

.scroll-down {
  margin-top: 9%;
  animation: bounce 2s infinite;
}

.arrow-circle {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  backdrop-filter: blur(4px);
}

.arrow-circle:hover {
  transform: scale(1.1);
}

.privacy-section .card {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 2rem;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.privacy-section .card:hover {
  transform: translateY(-5px);
}

a {
  text-decoration: none;
  color:white
}

.nav-link {
  text-decoration: none;
}
#photos {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding: 1rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

#photos img.screenshot {
  flex: 0 0 auto;
  width: 300px; 
  border-radius: 20px;
  scroll-snap-align: start;
  transition: transform 0.3s ease;
}

#photos img.screenshot:hover {
  transform: scale(1.03);
}

@media (max-width: 1137px) {
  .scroll-down {
 display: none;
} 
  }
  